<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INDEX</title>

    <!-- Custom fonts for this template-->
    <link href="../static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    >
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../static/css/datatable.css" rel="stylesheet">
    <link href="../static/css/datatable.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SEANSE KINOWE</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="add.html">
                <i class="fas fa-users"></i>
                <span>DODAWANIE</span>
            </a>

        </li>


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="search.html">
                <i class="fas fa-clipboard-list"></i>
                <span>WYSZUKIWANIE</span>
            </a>

        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="reservation.html">
                <i class="fas fa-cogs"></i>
                <span>REZERWACJA</span></a>
        </li>


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
        

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- Content Row -->
                <div class="card shadow mt-5">
                    <div class="card-header text-center"> Lista Seansów</div>
                    <div class="card-body">
                        <div class="row mt-5">
                            <div class="table-responsive mx-5">
                                <table class="table table-striped datatable" style="width: 100%">
                                    <thead class="text-center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Data dodania</th>
                                        <th>Nazwa seansu</th>
                                        <th>Ilość miejsc</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    <tr>
                                        <td>1</td>
                                        <td>2020:08:22</td>
                                        <td>Session example</td>
                                        <td>45</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; SDA 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>
<script src="../static/js/datatable.js"></script>
<script src="../static/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.datatable').DataTable({
            dom: '<"row mb-3"<"col-md-6 form-inline" l><"col-md-6"<"form-inline d-flex justify-content-end" f>>>rtp',

            language: {
                lengthMenu: 'Show&nbsp;&nbsp; _MENU_&nbsp;&nbsp;',
                search: '<i class="fa fa-search text-dark-gray fsize-19 mt-1 mr-2"></i> ',
            },

            lengthMenu: [
                [10, 25, 50],
                ['10 rows', '25 rows', '50 rows']
            ],
        });

        $("input.form-control.form-control-sm").attr('placeholder', 'search..');
    });

</script>
</body>

</html>
